.header{
  display: flex;
  height: 4rem;
  width: 100%;
  background-color: rgb(49, 49, 156);
  z-index: 100;
  position: sticky;
  top: 0;
  align-items: center;
}

.header__nav{
  display: flex;
  justify-content: space-evenly;
}

.header__titleSection{
  text-align: center;
  margin-left: 20px;
  margin-right: 50px;
  min-width: 250px;
}

.header__title{
  font-size: 2rem;
  color: white;
  font-weight: 600;
}

.header__minititleSection{
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  min-width: 80px;
}

.header__minititle{
  font-size: 1rem;
  color: white;
}